$color-white: hsl(0, 0%, 100%);
$color-light-gray: hsl(212, 45%, 89%);
$color-grayish-blue: hsl(220, 15%, 55%);
$color-dark-blue: hsl(218, 44%, 22%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html {
    font-family: Outfit, sans-serif;
    font-size: 15px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: $color-light-gray;
    display: flex;
    justify-content: center;
    align-items: center;
}